<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<div class="jumbotron">
  <h1>Gracias por tu Voto</h1>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laborum dicta ea est sint. Eaque, illum, obcaecati at alias doloremque dolor fugiat numquam quisquam illo earum. Iusto exercitationem reprehenderit voluptas.</p>
  <%= link_to " <div class='switch demo4'>
   
    <label><br><i class='fa fa-sign-out fa-3x'></i> </label>
  </div>".html_safe, destroy_usuario_session_path, :method => :delete %>
</div>